<h2 mat-dialog-title>{{ "INSTRUCTION" | translate }}</h2>

<mat-dialog-content>
  <div class="video-container">
    <iframe
      width="100%"
      height="315"
      [src]="videoUrl | safe : 'resourceUrl'"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ "CLOSE" | translate }}</button>
</mat-dialog-actions>
