.custom-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: 100%;

  & > .custom-card {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.bronze {
  background: linear-gradient(0deg, #0d0d0d, #0d0d0d),
    radial-gradient(
      87.51% 178.71% at 79.58% 0%,
      rgba(120, 134, 168, 1) 0%,
      rgba(38, 41, 51, 1) 100%
    );
}

.gold {
  background: linear-gradient(
    90deg,
    #1b0e00 0%,
    rgba(241, 211, 151, 1.6) 50%,
    rgba(47, 35, 19, 1.6) 90%
  );
}

.custom-card {
  min-height: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25em;
  position: relative;

  img {
    max-width: 100%;
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-image {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.card-collect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  img {
    height: 2rem;
  }
}

.header-right-img {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #000;
  padding: 7px;
  padding-left: 5px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 10px;
}

@media (max-width: 768px) {
  .mobile-change {
    background-color: #ff9800;
  }

  .card-prizeProgress {
    justify-content: space-evenly;
    gap: 3px;
  }
}
